# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.caeracme
*.obj
*.pdb
sys/emu/Nt/iacme.map
*.a
tmp/plumb.log
sys/emu/Nt/iacme.exe
*.map
sys/emu/Nt/icell.exe
.hgignore
iacme.exe
*.o

o.emu
o.*
services/httpd/httpd.log
Dockerfile

*.dis
*.sbl
.env

Linux/arm/bin/data2s
emu/Linux/emu.c
emu/Linux/emu.root.c
emu/Linux/emu.root.h
emu/Linux/errstr.h
emu/Linux/srv.h
emu/Linux/srvm.h
libinterp/cryptmod.h
libinterp/drawmod.h
libinterp/ipintsmod.h
libinterp/keyring.h
libinterp/keyringif.h
libinterp/mathmod.h
libinterp/runt.h
libinterp/sysmod.h
limbo/y.tab.c
limbo/y.tab.h
Linux/arm/bin/*

